<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContractsDemo.Properties.Settings.ContractsConnectionString" 
         connectionString="Data Source=192.168.0.106\SQLSERVER;Initial Catalog=Contracts; Persist Security Info=False;User ID=Юрист;Password=1;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>